<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">

</head>
<body>


	<!-- Table -->
	<div class="table-responsive">
		<table
			class="table table-bordered table-hover align-middle text-center"
			id="enqTbl">

			<thead class="table-light">
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Course</th>
					<th>Number</th>
					<th>Enquiry Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<!-- Static sample rows (replace later with Thymeleaf loop) -->
				<tr th:each="enquiry : ${filteredEnquiries}">
					<td th:text="${enquiry.enquiryId}" />
					<td th:text="${enquiry.studentName}" />
					<td th:text="${enquiry.courseName}" />
					<td th:text="${enquiry.studentPhno}" />
					<td th:text="${enquiry.createdDate}" />
					<td th:text="${enquiry.enquiryStatus}" />
					<td><a class="btn btn-primary btn-sm"
						th:href="@{'/editEnquiry/' + ${enquiry.enquiryId}}">EDIT</a></td>

				</tr>

			</tbody>

		</table>
	</div>

	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>

</body>
</html>